.main-content{
    width: 100%;
    height: auto;
    background-color: blanchedalmond;
}

.member-container{
    width: 98%;
    height: 100%;
    background-color: cadetblue;
    margin: 0 auto;
    display: block;
}

.info-container{
    height: auto;
    float: left;
    margin: 10px;
    margin-right: 0;
    padding: 15px;
    display: block;
}



.card {
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.avatar {
    width: 50%;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.Table {
    padding-inline-start: 5rem;
    display: table;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
    vertical-align: top;
}


/*----------------------INICIO DE ESTILOS DE MEMBER CONTENT----------------------*/

.member-content{
    width: 73%;
    min-height: 500px;
    display: inline-block;
}

    .member-programing-languagues{
        margin: 10px;
        background-color: khaki;
        padding: 15px;
        display: block;
    }

        .member-programing-languagues-title{
            margin: 0;
        }

        .member-programing-languagues-container{
            padding: 15px;
            display: grid;
            grid-template-columns: repeat(8,1fr);
        }
    
        .member-lenguague{
            background-color: lightcoral;
            padding: 10px;
            width: 70px;
            margin: 5px 0;
        }

            .languague-img{
                width: 50px;
                height: 50px;
                display: block;
                margin: 1px auto;
            }

            .lenguague-name{
                display: block;
                margin: 1px auto;
                text-align: center;
            }

    .member-projects{
        min-height: 600px;
        margin: 10px;
        padding: 10px;
        background-color: lightcyan;
    }

    .member-projects-title{
        margin: 0;
        margin-bottom: 15px;
    }

    .member-projects-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        min-height: 600px;
        padding: 5px;
        background-color: rgb(183, 209, 209);
    }

        .project-card{
            background-color: darkgray;
            width: 210px;
            height: 300px;
            margin: 5px;
            display: inline-block;
        }

            .project-img-container{
                width: inherit;
            }

                .img-project{
                    width: 200px;
                    height: 120px;
                    margin: 4px auto;
                    display: block;
                }

            .project-info{
                display: block;
                margin: auto;
                width: 200px;
            }

                .project-name{
                    display: block;
                    margin: 3px auto;
                }

                .project-short-description{
                    display: block;
                    margin: 2px auto;
                }

                .project-link{
                    display: block;
                    margin: 3px auto;
                }